#DashboardHeader {
    background-color: #f9f6ef;
    padding: 10px;
}
nav {
    width: 100%;
    justify-content: space-between !important;
}
#nav-left-side {
    display: flex;
}
.logo-container {
    display: flex;
    align-items: center;
}
.form-inline {
    flex-flow: row nowrap;
    width: 100%;
}
#search-box {
    margin-right: 0 !important;
    border-radius: 5px 0 0 5px;
    border-right: none;
}
#search-btn {
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ced4da;
    border-left: none;
}