.MyBooksSection.BookDetailModal {
    .book-details {
        p {
            margin-bottom: 5px;
        }
        .user-rating i {
            color: orangered !important;
        }
    }
    .description {
        border-bottom: none;
    }
    .select-div {
        margin-bottom: 5px;
        select {
            background-color: #409D69;
            color: #fff;
            padding: 1px 6px;
        }
    }
    .modal-footer {
        display: flex;
        justify-content: space-between;
        .btn-delete {
            color: #fff;
            background-color: #8c1515;
        }
    }
}